header
    .container
        .row.dark-black.bottom-spacer
          .col-md-12
            a(href='#')
              img.logo(src='/assets/images/logo.png')
            .top-menu
              ul
                li Welcome Andrew
                li
                  a(href='#', tabindex="-1") Background Upload
                li
                  a(href='#', tabindex="-1") Logout
    #content-area
      .container
        .row
          .col-md-3.side-bar
            form(ng-submit='addNewList()')
              input.wider(type='text', placeholder='LIST NAME', ng-model='newListName')
              input.plus-button(type='submit', value='+', tabindex="-1")
            h2 Watchlists
            .col-md12
              .list-menu
                ul
                  li(ng-repeat="list in myStockLists track by $index")
                    a(ng-click="setWatchlistIndex($index)", ng-class="{active: watchlistIndex === $index}" remove-class="active") {{list.name}}
                    .stock-number
                      p.number-content {{list.stocks.length}}
            form
              input.wider(type='text', placeholder='PROFILE NAME')
              input.plus-button(type='submit', value='+', tabindex="-1")
            h2 Investor Profiles
            .col-md12
              .list-menu
                ul
                  li(ng-click="investorProfile = 'graham'")
                    img.investor(src='/assets/images/graham.png')
                    a(ng-class="{active : investorProfile === 'graham'}") Benjamin Graham
                    .tool-tip
                      a(href='#')
                        i.fa.fa-info-circle.fa-2x(tooltip-append-to-body='true', tooltip="Benjamin Graham is a world famous investor known for his value investing strategies.")
                  li(ng-click="investorProfile = 'buffett'")
                    img.investor(src='/assets/images/buffett.png')
                    a(ng-class="{active : investorProfile === 'buffett'}") Warren Buffett
                    .tool-tip
                      a(href='#')
                        i.fa.fa-info-circle.fa-2x(tooltip-append-to-body='true', tooltip="Warren Edward Buffett is an American business magnate, investor and philanthropist. He was the most successful investor of the 20th century.")
                  li(ng-click="investorProfile = 'lynch'")
                    img.investor(src='/assets/images/lynch.png')
                    a(ng-class="{active : investorProfile === 'lynch'}") Peter Lynch
                    .tool-tip
                      a(href='#')
                        i.fa.fa-info-circle.fa-2x(tooltip-append-to-body='true', tooltip="Peter Lynch is an American businessman and stock investor. As part of his role at Fidelity Investments, he managed the Magellan Fund between 1977 and 1990 averaging a 29% return, making it the best 20-year return of any mutual fund over the period.")
                  li(ng-click="investorProfile = 'oneil'")
                    img.investor(src='/assets/images/oneil.png')
                    a(ng-class="{active : investorProfile === 'oneil'}") William O'Neil
                    .tool-tip
                      a(href='#')
                        i.fa.fa-info-circle.fa-2x(tooltip-append-to-body='true', tooltip="William J. O'Neil is an American entrepreneur, stockbroker and writer, who founded the business newspaper Investor's Business Daily and the stock brokerage firm William O'Neil & Co. Inc.")
                  li(ng-repeat="myProfile in myCustomProfiles")
                    img.investor(src='/assets/images/custom.png')
                    a(href='#') {{myProfile.name}}
                    a(href='#')
                      i.fa.fa-gear.fa-2x.pull-right
          .col-md-9
            .row.stock-area
              .stock-header
                h1 {{myStockLists[watchlistIndex].name}} <!--{{investorProfile === '' ? '' : '-' + investorProfile | uppercase}}-->
                form
                  input(tabindex="1", type="text", ng-model="selectedStock", placeholder="ADD STOCK", typeahead="stock as stock.name for stock in allStocks | filter:$viewValue", typeahead-loading="loadingLocations", typeahead-on-select="onTypeAheadSelect($item, $model, $label)")
                  i.glyphicon.glyphicon-refresh(ng-show="loadingLocations")
              .table-responsive(ng-include="getInclude()")
              .table-responsive(ng-if="investorProfile === ''")
                table.table.stock-table
                  thead
                    tr.uppercase.small-font.proxima-light
                      th
                        a(ng-click="columnNameSort = 'name'; reverseSort = !reverseSort") Company
                        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'name', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'name'}")
                      th
                        a(ng-click="columnNameSort = 'quote.PX_LAST'; reverseSort = !reverseSort") Price
                        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.PX_LAST', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.PX_LAST'}")
                      th
                        a(ng-click="columnNameSort = 'quote.PE_RATIO'; reverseSort = !reverseSort") P/E
                        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.PE_RATIO', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.PE_RATIO'}")
                      //- th PEG
                      th
                        a(ng-click="columnNameSort = 'quote.PX_TO_SALES_RATIO'; reverseSort = !reverseSort") P/S
                        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.PX_TO_SALES_RATIO', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.PX_TO_SALES_RATIO'}")
                      th
                        a(ng-click="columnNameSort = 'quote.PROF_MARGIN'; reverseSort = !reverseSort") Prof M.
                        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.PROF_MARGIN', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.PROF_MARGIN'}")
                      th
                        a(ng-click="columnNameSort = 'quote.REVENUE_PER_SH'; reverseSort = !reverseSort") R/S
                        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.REVENUE_PER_SH', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.REVENUE_PER_SH'}")
                      th
                        a(ng-click="columnNameSort = 'quote.EBITDA'; reverseSort = !reverseSort") EBITDA
                        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.EBITDA', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.EBITDA'}")
                      th
                        a(ng-click="columnNameSort = 'quote.IS_EPS'; reverseSort = !reverseSort") EPS
                        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.IS_EPS', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.IS_EPS'}")
                      th
                        a(ng-click="columnNameSort = 'quote.CUR_RATIO'; reverseSort = !reverseSort") C.R
                        i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.CUR_RATIO', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.CUR_RATIO'}")
                  tbody
                    tr(ng-repeat="stock in myStockLists[watchlistIndex].stocks | orderBy:columnNameSort:reverseSort")
                      td {{stock.name}}
                      td {{(stock.quote.PX_LAST | number:2) || defaultText}}
                      td {{(stock.quote.PE_RATIO | number:2) || 0}}
                      //- td {{stock.quote.}}
                      td {{(stock.quote.PX_TO_SALES_RATIO | number:2) || defaultText}}
                      td {{(stock.quote.PROF_MARGIN | number:2) || defaultText}}
                      td {{(stock.quote.REVENUE_PER_SH | number:2) || defaultText}}
                      td {{(stock.quote.EBITDA | number:2) || defaultText}}
                      td {{(stock.quote.IS_EPS | number:2) || defaultText}}
                      td {{(stock.quote.CUR_RATIO | number:2) || defaultText}}
                      td
                        a(ng-click="deleteStock(stock.symbol)")
                          i.fa.fa-close
              button.pull-right.delete-list.right-margin(ng-click="deleteList()") Delete List
