div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Welcome to StockSlate!
    p.lead Get real-time data on your stocks
    //- img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.col-md-4.col-lg-4.col-sm-6(ng-init="loadThings()")
        li(ng-repeat='thing in awesomeThings')
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}
          span.glyphicon.glyphicon-remove.pull-right(ng-click="deleteThing(thing)")
      form(ng-submit="addThing()")
        input(type="text", placeholder="Enter a thing name", ng-model="newThing")

footer.footer
  .container
    p
      | StockSlate
      = ' | '
      span HackTheNorth 2014
    p
      | with thanks to
      = ' | '
      a(href="http://glyphicons.com/") Glyphicons
      = ' | '
      | The Bloomberg
      a(href="http://www.bloomberglabs.com/api/libraries/")  open API
