table.table.stock-table
    thead
        tr.uppercase.small-font.proxima-light
          th Company
          th Price
          th EPS
          th EPS G.
          th O.M
          th N.P.M
          th ROE
          //- th Debt
          th Score
      tbody
        tr(ng-repeat="stock in myStockLists[watchlistIndex].stocks track by $index")
          td {{stock.name}}
          td {{(stock.quote.PX_LAST | number:2) || defaultText}}
          td {{(stock.quote.IS_EPS | number:2) || defaultText}}
          td {{(stock.quote.EPS_GROWtd | number:2) || defaultText}}
          td {{(stock.quote.OPER_MARGIN | number:2) || defaultText}}
          td {{(stock.quote.PROF_MARGIN | number:2) || defaultText}}
          td {{(stock.quote.RETURN_COM_EQI | number:2) || defaultText}}
          //- td 5.04
          td 69
          td
            a(ng-click="deleteStock($index)")
              i.fa.fa-close
