table.table.stock-table
    thead
        tr.uppercase.small-font.proxima-light
          th Company
          th Price
          th EPS
          th EPS G.
          th O.M
          th N.P.M
          th ROE
          th Debt
          th Score
      tbody
        tr(ng-repeat="stock in myStockLists[watchlistIndex].stocks track by $index")
          td {{stock.name}}
          td 23.62
          td 2.36
          th 1.47
          th 5.96
          th 0.12
          th 16.49
          th 5.04
          th 69
          td
            a(href='#')
              i.fa.fa-close
