table.table.stock-table(ng-init="columnNameSort = 'quote.BUFFETT_SCORE'; reverseSort = true")
    thead
        tr.uppercase.small-font.proxima-light
          th
            a(ng-click="columnNameSort = 'name'; reverseSort = !reverseSort") Company
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'name', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'name'}")
          th
            a(ng-click="columnNameSort = 'quote.PX_LAST'; reverseSort = !reverseSort") Price
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.PX_LAST', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.PX_LAST'}")
          th
            a(ng-click="columnNameSort = 'quote.IS_EPS'; reverseSort = !reverseSort") EPS
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.IS_EPS', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.IS_EPS'}")
          th
            a(ng-click="columnNameSort = 'quote.EPS_GROWTH'; reverseSort = !reverseSort") EPS G.
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.EPS_GROWTH', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.EPS_GROWTH'}")
          th
            a(ng-click="columnNameSort = 'quote.OPER_MARGIN'; reverseSort = !reverseSort") O.M
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.OPER_MARGIN', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.OPER_MARGIN'}")
          th
            a(ng-click="columnNameSort = 'quote.PROF_MARGIN'; reverseSort = !reverseSort") N.P.M
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.PROF_MARGIN', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.PROF_MARGIN'}")
          th
            a(ng-click="columnNameSort = 'quote.RETURN_COM_EQI'; reverseSort = !reverseSort") ROE
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.RETURN_COM_EQI', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.RETURN_COM_EQI'}")
          //- th Debt
          th
            a(ng-click="columnNameSort = 'quote.BUFFETT_SCORE'; reverseSort = !reverseSort") Score
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': !reverseSort && columnNameSort === 'quote.BUFFETT_SCORE', 'glyphicon-chevron-up': reverseSort && columnNameSort === 'quote.BUFFETT_SCORE'}")
      tbody
        tr(ng-repeat="stock in myStockLists[watchlistIndex].stocks | orderBy:columnNameSort:reverseSort")
          td {{stock.name}}
          td {{(stock.quote.PX_LAST | number:2) || defaultText}}
          td {{(stock.quote.IS_EPS | number:2) || defaultText}}
          td {{(stock.quote.EPS_GROWTH | number:2) || defaultText}}
          td {{(stock.quote.OPER_MARGIN | number:2) || defaultText}}
          td {{(stock.quote.PROF_MARGIN | number:2) || defaultText}}
          td {{(stock.quote.RETURN_COM_EQY | number:2) || defaultText}}
          //- td 5.04
          td {{stock.quote.BUFFETT_SCORE | number:0}}
          td
            a(ng-click="deleteStock($index)")
              i.fa.fa-close
