table.table.stock-table
    thead
        tr.uppercase.small-font.proxima-light
          th Company
          th Price
          //- th C.A - Debt
          th C.R
          th EPS
          th EPS G.
          th P/E
          th P/B
          th Dividend
          th Score
      tbody
        tr(ng-repeat="stock in myStockLists[watchlistIndex].stocks track by $index")
          td {{stock.name}}
          td {{(stock.quote.PX_LAST | number:2) || defaultText}}
          //- td {{2.36}}
          td {{(stock.quote.CUR_RATIO | number:2) || defaultText}}
          td {{(stock.quote.IS_EPS | number:2) || defaultText}}
          td {{(stock.quote.EPS_GROWtd | number:2) || defaultText}}
          td {{(stock.quote.PE_RATIO | number:2) || defaultText}}
          td {{(stock.quote.BEST_PX_BPS_RATIO | number:2) || defaultText}}
          td {{(stock.quote.DIVIDEND_YIELD | number:2) || 0}}%
          td 39
          td
            a(ng-click="deleteStock($index)")
              i.fa.fa-close
