table.table.stock-table.table-responsive
    thead
        tr.uppercase.small-font.proxima-light
          th Company
          th Price
          th EPS
          th 52 Week High
          th I.O
          th Score
      tbody
        tr
          td Ambarella Inc.
          td 23.62
          td 2.36
          th 1.47
          th 5.96
          th 39
          td
            a(href='#')
              i.fa.fa-close
        tr
          td Apple Corporation
          td 98.62
          td 2.36
          th 1.47
          th 5.96
          th 99
          td
            a(href='#')
              i.fa.fa-close
        tr
          td Google Inc.
          td 512.62
          td 2.36
          th 1.47
          th 5.96
          th 22
          td
            a(href='#')
              i.fa.fa-close
