table.table.stock-table.table-responsive
    thead
        tr.uppercase.small-font.proxima-light
          th Company
          th Price
          th EPS
          th EPS G.
          th 52 Week High
          //- th I.O
          th Score
      tbody
        tr(ng-repeat="stock in myStockLists[watchlistIndex].stocks track by $index")
          td {{stock.name}}
          td {{(stock.quote.PX_LAST | number:2) || defaultText}}
          td {{(stock.quote.IS_EPS | number:2) || defaultText}}
          td {{(stock.quote.EPS_GROWTH | number:2) || defaultText}}
          td {{(stock.quote.HIGH_52WEEK | number:2) || defaultText}}
          //- td 5.96
          td 39
          td
            a(ng-click="deleteStock($index)")
              i.fa.fa-close
